<div class="cushion">
  <ul class="nav nav-pills">
    <li role="presentation"><a ui-sref="profile({uid: ctrl.currentUser.uid})">Chat</a></li>
    <li role="presentation"><a ui-sref="picture({uid: ctrl.currentUser.uid})">Upload Picture</a></li>
    <li role="presentation"><a href="" ng-click="ctrl.signOut()">Sign Out</a></li>
  </ul>
  <br><br>

  <div class="head-center">

    <img class="img-rounded" ng-model="ctrl.currentUser" alt="user-profile" src="{{ ctrl.currentUser.photoURL }}" height="150" width="150">

    <h3>{{ ctrl.currentUser.username }}</h3>
    <br><br>

    <form>
      <div class="form-group">
        <label><h3>Search to Find Someone to Talk With</h3></label><br>
        <input class="form-control" type="text"><br>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Search">
      </div>
    </form>


  </div>
</div>
