<div class="cushion">
  <ul class="nav nav-pills">
    <li role="presentation"><a ui-sref="profile({uid: ctrl.currentUser.uid})">Chat</a></li>
    <li role="presentation"><a ui-sref="picture({uid: ctrl.currentUser.uid})">Upload Picture</a></li>
    <li role="presentation"><a href="" ng-click="ctrl.signOut()">Sign Out</a></li>
  </ul>
  <br><br>

  <div class="head-center">

    <img class="img-rounded" ng-model="ctrl.currentUser" alt="user-profile" src="{{ ctrl.currentUser.photoURL }}" height="150" width="150">

    <h3>{{ ctrl.currentUser.username }}</h3>
    <br><br>

    <div class="comment-box">
      <ul>
        <li ng-repeat="message in ctrl.messages">
          <div class="well well-sm">
            <dl>
              <dt>{{ message.username }} {{ message.createdAt | date:'medium' }}</dt>
              <dd>{{ message.content }}</dd>
            </dl>
          </div>
        </li>
      </ul>
    </div>
    <br><br>

    <form ng-submit="ctrl.sendMessage()">
      <div class="form-group">
        <input class="form-control" ng-model="ctrl.newMessage.content" type="text" placeholder="Type a message">
      </div>
      <input class="btn btn-primary" type="submit" value="Send Message">
    </form>
    <br><br>

  </div>
</div>






