<div class="cushion">
  <div class="head-center">
    <h1>Sign Up for Chat Buddies</h1>
  </div>
  <form ng-submit="ctrl.signUp()">
    <div class="form-group">
      <label>Username</label><br>
      <input class="form-control" type="text" name="username" ng-model="ctrl.user.username"><br>
    </div>

    <div class="form-group">
      <label>Email</label><br>
      <input class="form-control" type="text" name="email" ng-model="ctrl.user.email"><br>
    </div>

    <div class="form-group">
      <label>Password</label><br>
      <input class="form-control" type="password" name="password" ng-model="ctrl.user.password"><br>
    </div>

    <div class="form-group">
      <label>Password Confirmation</label><br>
      <input class="form-control" type="password" name="passwordConfirmation" ng-model="ctrl.user.passwordConfirmation"><br>
    </div>

    <div>
      <input class="btn btn-primary" type="submit" value="Sign Me Up!"><br>
    </div>
  </form>
  <br>

  <a ui-sref="login">Wait, I do have an account!</a>
</div>




