<!DOCTYPE html>
<html>
  <head>
    <title>Chat Buddies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <base href="/">
  </head>
  <body ng-app="chatBuddies">

    <div ui-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="javascripts/ui-bootstrap-1.3.3.min.js" defer></script>
    <!-- <script src="ng-file-upload(.min).js" defer></script> -->
    <script type="text/javascript" src="javascripts/client.js" defer></script>
    <script type="text/javascript" defer>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD_9Mr2blr52jjKQKqgJ8z-e_SinMKeMic",
        authDomain: "project-3444843529926405572.firebaseapp.com",
        databaseURL: "https://project-3444843529926405572.firebaseio.com",
        storageBucket: "project-3444843529926405572.appspot.com",
      };

      firebase.initializeApp(config);

    </script>
  </body>
</html>
