<!DOCTYPE html>
<html>
  <head>
    <title>Chat Buddies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <base href="/">
  </head>
  <body>

    <div ui-view=""></div>

    <script type="text/javascript" src="angular/angular.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <script type="text/javascript" src="javascripts/client.js" defer></script>
  </body>
</html>
