<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <base href="/">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
      <h2>Hello Nick</h2>
    </div>

    <div ui-view=""></div>

    <script type="text/javascript" src="angular/angular.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <script type="text/javascript" src="javascripts/client.js" defer></script>
  </body>
</html>
